body {
	border-radius: 0px;
}

.LightBox4 #fancybox-outer {
	position:relative;
	-pie-poll:true;
	border-radius: 5px 5px 5px 5px;

}

.LightBox4 #fancybox-content{
	position:relative;
    border-radius: 0px 0px 6px 6px;
} 

.LightBox4 .fancybox-title-outside {
	position:relative;
	border-radius: 0px 0px 6px 6px;
}


.LightBox4 #fancybox-outer{
	-pie-background: rgba(0,0,0,0.2);
}

.LightBox4 img {-ms-interpolation-mode: bicubic;}