/* 
  -----------------------------------
  Mega Menu Magic
  by Project Seven Development
  www.projectseven.com
  Style Theme: 04 - Chilli
  -----------------------------------
*/

.p7MGM-04 {
	position: relative;
	line-height: 1;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	-webkit-transform-style: preserve-3d;
	background-color: #990D14;
	background-image: -webkit-linear-gradient(270deg,rgba(238,41,51,1.00) 0%,rgba(153,12,19,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(238,41,51,1.00) 0%,rgba(153,12,19,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(238,41,51,1.00) 0%,rgba(153,12,19,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(238,41,51,1.00) 0%,rgba(153,12,19,1.00) 100%);
}

/*Shadows Option*/
.p7MGM-04.shadows {
	box-shadow: 0px 0px 40px rgba(0,0,0,.35);
	border-bottom: 1px solid #FFF;
}
.p7MGM-04.shadows.open-up {
	border: 1px solid #FFF;
}
.p7MGM-04.shadows .mgm-mega-menu {
	box-shadow: 10px 12px 15px rgba(0,0,0,.25);
}
.p7MGM-04.shadows .p7mgm-ColContent img {
	box-shadow: 0px 0px 30px rgba(0,0,0,.5);
}

/*No Background on Root Menu option*/
.p7MGM-04.root-nobg {
	background-image: none;
	background-color: transparent;
	background-color: rgba(255,255,255,0);
	box-shadow: none;
	border: none;
}

/*Rounded Corner Option*/
.p7MGM-04.rounded.open-up {
	border-radius: 5px;
}
.p7MGM-04.rounded .mgm-mega-menu {
	border-radius: 0px 0px 5px 5px;
}
.p7MGM-04.rounded.open-up .mgm-mega-menu {
	border-radius: 5px 5px 5px 5px;
}
.p7MGM-04.root-nobg.rounded .mgm-mega-menu {
	border-radius: 5px 5px 5px 5px;
}
.p7MGM-04.rounded .p7mgm-ColContent img {
	border-radius: 5px;
}
.p7MGM-04.rounded .mgm-mega-menu ul.megalist li {
	border-radius: 5px;
}
.p7MGM-04.rounded .mgm-mega-menu ul.megalist a {
	border-radius: 4px;
}

/*Responsive Toolbar */
.p7MGM-04 .mgm-toolbar {
	display: none;
}

/*Clear Fix*/
.p7MGM-04:after,
.p7MGM-04 .p7mgm-row:after {
	content: "\0020";
	clear: both;
	font-size: 0px;
	line-height: 0;
	display: block;
	height: 0px;
}

/*Root Menu Alignment*/
.p7MGM-04.menu-centered {
	text-align: center;
}
.p7MGM-04.menu-right {
	text-align: right;
}

/*Root Menu List*/
.p7MGM-04 ul.mgm-root-list {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: bottom;
}
.p7MGM-04.root-nobg ul.mgm-root-list {
	padding-bottom: 20px;
}
.p7MGM-04.root-nobg.open-up ul.mgm-root-list {
	padding-bottom: 0px;
	padding-top: 20px;
}
.p7MGM-04 li.mgm-root-item {
	list-style-type: none;
	float: left;
}
.p7MGM-04.root-nobg li.mgm-root-item {
	margin-left: 8px;
}
.p7MGM-04.root-nobg li.mgm-root-item:first-child {
	margin-left: 0px;
}

/*Root Menu Trigger Arrows*/
.p7MGM-04 a.mgm-root-item.mgm-trig.closed {
	background-image: url(img/mgm-right-dark.gif);
}
.p7MGM-04 a.mgm-root-item.mgm-trig.open {
	background-image: url(img/mgm-down-medium.gif);
}
.p7MGM-04.root-nobg a.mgm-root-item.mgm-trig.open {
	background-image: url(img/mgm-down-dark.gif);
}

/*Root Menu Link Items*/
.p7MGM-04 a.mgm-root-item {
	display: block;
	padding-top: 14px;
	padding-right: 8px;
	padding-left: 16px;
	padding-bottom: 14px;
	color: #F3F3F3;
	text-decoration: none;
	font-size: 0.95em;
	background-repeat: no-repeat;
	background-position: left center;
	border-left: thin inset;
	border-color: #363636;
	transition: background-color linear .35s, border-color linear .3s;
}
.p7MGM-04 .mgm-root-item:first-child a {
	border-left: none;
}
.p7MGM-04.shadows.root-nobg a.mgm-root-item {
	border: 1px solid;
	border-color: rgba(0,0,0,.5);
	box-shadow: 3px 3px 20px rgba(0,0,0,.15);
}
.p7MGM-04.root-nobg.rounded a.mgm-root-item {
	border-radius: 4px;
}

.p7MGM-04 a.mgm-root-item:hover,
.p7MGM-04 a.mgm-root-item.mgm-trig.open {
	color: #AAA;
	background-color: #252525;
}
.p7MGM-04.root-nobg a.mgm-root-item:hover,
.p7MGM-04.root-nobg a.mgm-root-item.mgm-trig.open {
	color: #000;
	background-color: #C6121A;
}


/*IMAGE LINKS*/
.p7MGM-04 a.p7MGM_img,
.p7MGM-04 li.p7MGM_img {
	border: none;
	padding: 0px;
	margin: 0px;
	background: none !important;
}
.p7MGM-04 a.p7MGM_img img {
	border: none;
	vertical-align: bottom;
}

/*Current Mark*/
.p7MGM-04 a.current_mark {
	font-weight: bold;
}

/*Mega Sub-Menus*/
.p7MGM-04 .mgm-mega-menu {
	background-color: #363636;
	background-image: linear-gradient(180deg, #252525, #444);
	color: #CCC;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid;
	border-color: rgba(0,0,0,.5);
	border-top: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.p7MGM-04.open-up .mgm-mega-menu {
	top: auto;
	bottom: 100%;
} 

/*Transparent Option*/
.p7MGM-04.transparent .mgm-mega-menu {
	background-color: #252525;
	background: linear-gradient(180deg, rgba(34,34,34,1), rgba(0,0,0,.8));
}

/*Mega Sub-Menu Content*/
.p7MGM-04 .p7mgm-row {
	text-align: left;
}
.p7MGM-04 .p7mgm-ColContent {
	padding: 10px 20px;
	font-size: 90%;
}
.p7MGM-04 .p7mgm-ColContent p {
	line-height: 1.5;
}
.p7MGM-04 .p7mgm-ColContent p a {
	color: #AAA;
}
.p7MGM-04 .p7mgm-ColContent p a:hover {
	color: #FFFFFF;
}
.p7MGM-04 .p7mgm-ColContent img {
	height: auto !important;
	width: auto !important;
	max-width: 100%;
}
/*Content Headings*/
.p7MGM-04 .p7mgm-ColContent h1,
.p7MGM-04 .p7mgm-ColContent h2,
.p7MGM-04 .p7mgm-ColContent h3,
.p7MGM-04 .p7mgm-ColContent h4 {
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 1.5em;
}
.p7MGM-04 .p7mgm-ColContent h2 {
	font-size: 1.35em;
}
.p7MGM-04 .p7mgm-ColContent h3 {
	font-size: 1.25em;
}
.p7MGM-04 .p7mgm-ColContent h4 {
	font-size: 1.1em;
}

/*Mega Sub-Menu Column Widths*/
.p7MGM-04 .p7mgm-Col {
	float: left;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent75 {
	width: 75%;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent60 {
	width: 60%;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent50 {
	width: 50%;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent40 {
	width: 40%;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent33 {
	width: 33.333333333%;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent25 {
	width: 25%;
}
.p7MGM-04 .p7mgm-Col.p7mgm-percent20 {
	width: 16%;
}

.p7MGM-04 .col-sep .border-left {
	border-left: thin double #000;
}
.p7MGM-04 .p7mgm-row.row-sep-both {
	border-top: thin double #000;
	border-bottom: thin double #000;
}
.p7MGM-04 .p7mgm-row.row-sep-top {
	border-top: thin double #000;
}
.p7MGM-04 .p7mgm-row.row-sep-bottom {
	border-bottom: thin double #000;
}


/*Mega Sub-Menu Positioning and Offsets*/
.mgm-mega-menu.centered .p7mgm-row {
	text-align: center;
}
.mgm-mega-menu.right-align {
	text-align: right;
}

.menu-centered .mgm-mega-menu.width90 {
	left: 5%;
	right: 5%;
}
.menu-left .mgm-mega-menu.width90 {
	left: 0%;
	right: 10%;
}
.menu-right .mgm-mega-menu.width90 {
	left: 10%;
	right: 0%;
}


.menu-centered .mgm-mega-menu.width80 {
	left: 10%;
	right: 10%;
}
.menu-left .mgm-mega-menu.width80 {
	left: 0%;
	right: 20%;
}
.menu-right .mgm-mega-menu.width80 {
	left: 20%;
	right: 0%;
}

.menu-centered .mgm-mega-menu.width60 {
	left: 20%;
	right: 20%;
}
.menu-left .mgm-mega-menu.width60 {
	left: 0%;
	right: 40%;
}
.menu-right .mgm-mega-menu.width60 {
	left: 40%;
	right: 0%;
}


.menu-centered .mgm-mega-menu.width50 {
	left: 25%;
	right: 25%;
}
.menu-left .mgm-mega-menu.width50 {
	left: 0%;
	right: 50%;
}
.menu-right .mgm-mega-menu.width50 {
	left: 50%;
	right: 0%;
}

.menu-centered .mgm-mega-menu.width40 {
	left: 30%;
	right: 30%;
}
.menu-left .mgm-mega-menu.width40 {
	left: 0%;
	right: 60%;
}
.menu-right .mgm-mega-menu.width40 {
	left: 60%;
	right: 0%;
}

.mgm-mega-menu.width100 {
	left: 0;
	right: auto;
	width: 100%;
}

/*Classic Sub-Menu*/
.p7MGM-04 li.mgm-root-item.mgm-classic {
	position: relative;
}
.p7MGM-04 .mgm-mega-menu.mgm-classic {
	min-width: 240px;
}


/*Mega Sub-Menu Custom Classes*/
.p7MGM-04 .mgm-mega-menu.custom-01 {}
.p7MGM-04 .mgm-mega-menu.custom-02 {}
.p7MGM-04 .mgm-mega-menu.custom-03 {}
.p7MGM-04 .mgm-mega-menu.custom-04 {}
.p7MGM-04 .mgm-mega-menu.custom-05 {}
.p7MGM-04 .mgm-mega-menu.custom-06 {}
.p7MGM-04 .mgm-mega-menu.custom-07 {}
.p7MGM-04 .mgm-mega-menu.custom-08 {}
.p7MGM-04 .mgm-mega-menu.custom-09 {}
.p7MGM-04 .mgm-mega-menu.custom-10 {}
.chilli-gradient {
	background: linear-gradient(180deg, #AAA, #EEE);
	background-color: #BBB;
	color: #000;
}
.p7MGM-04 .chilli-gradient p a {
	color: #000;
}
.p7MGM-04 .chilli-gradient p a:hover {
	color: #FFF;
}



/*Dreamweaver Design Time Fixes and No-Script Presentation*/
.p7MGMdesign-time {
	padding: 0px;
}
.p7MGMdesign-time .mgm-mega-menu {
	width: auto;
	position: static;
	display: block;
	clear: both;
}

/*Styled List Menu inside Mega Sub*/
.p7MGM-04 .mgm-mega-menu ul.megalist {
	display: block;
	padding: 0px;
	margin: 10px 0px;
}
.p7MGM-04 .mgm-mega-menu ul.megalist.iblock {
	display: inline-block;
}
.p7MGM-04 .mgm-mega-menu ul.megalist li {
	list-style-type: none;
	margin-bottom: 8px;
	display: block;
}
.p7MGM-04 .mgm-mega-menu ul.megalist a {
	display: block;
	padding: 10px;
	color: #AAA;
	text-decoration: none;
	border: 1px solid;
}
.p7MGM-04 .mgm-mega-menu ul.megalist a:hover {
	background-color: #BF4F54;
	color: #000;
}
/*Simple List Menu*/
.p7MGM-04 .mgm-mega-menu ul.simple-menu {
	margin: 10px 0px;
	padding: 0px;
}
.p7MGM-04 .mgm-mega-menu ul.simple-menu li {
	list-style-type: none;
	line-height: 1.5;
}
.p7MGM-04 .mgm-mega-menu ul.simple-menu a {
	color: #AAA;
	text-decoration: none;
}
.p7MGM-04 .mgm-mega-menu ul.simple-menu a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

/*Smartphone Media Query*/
@media only screen and (min-width: 0px) and (max-width: 800px) {
.p7MGM-04.responsive .p7mgm-Col {
	float: none;
	width: auto;
}
.p7MGM-04.responsive .p7mgm-ColContent {
	padding: 5px 20px;
	border: none;
	height: auto !important;
	max-height: 888678px;
}
.p7MGM-04.responsive .p7mgm-ColContent p {
	margin: 6px 0px;
}

.p7MGM-04.responsive:after {
	display: none;
}
.p7MGM-04.responsive .mgm-toolbar {
	display: block;
	padding: 10px;
	text-align: right;
}
.p7MGM-04.responsive .mgm-toolbar a {
	font-size: 2em;
	font-weight: bold;
	color: #BF4F54;
	text-decoration: none;
}
.p7MGM-04.responsive .mgm-toolbar a:hover {
	color: #FFF;
}
.p7MGM-04.responsive .toggle-text.closed a:before {
	content: "Show Menu \0020";
	font-size: .5em;
}
.p7MGM-04.responsive .toggle-text.opened a:before {
	content: "Hide Menu \0020";
	font-size: .5em;
}
.p7MGM-04.responsive .mgm-toolbar {
	display: block;
	background-color: #222;
	padding: 10px;
	cursor: pointer;
	background-color: #999;
	box-shadow: inset 0px 16px 2px rgba(255,255,255,.125);
	/*border-top-color: #BF4F54;
	border-width: 1px;
	border-top-style: solid; */
}
.p7MGM-04.responsive {
	text-align: left !important;
	padding: 0px !important;
	border: none !important;
}

.p7MGM-04.responsive ul.mgm-root-list {
	display: block;
	padding: 0px;
}
.p7MGM-04.responsive li.mgm-root-item {
	float: none;
	margin: 3px 0px;
	padding: 0px;
	margin: 0px;
	border: none;
}
.p7MGM-04.responsive a.mgm-root-item {
	border-left: none;
	border-right: none;
}

.p7MGM-04.responsive ul.closed {
	display: none;
}
.p7MGM-04.responsive ul.opened {
	display: block;
}
.p7MGM-04.responsive.rounded,
.p7MGM-04.responsive.rounded * {
	border-radius: 0px !important;
}
.p7MGM-04.responsive.shadows * {
	box-shadow: none !important;
}
.p7MGM-04.responsive .mgm-mega-menu {
	width: 100%;
	margin: 0px;
	top: auto;
	left: 0px;
	right: 0px;
	position: relative;
	border: none;
}

}
